<style>
    :root {
        --article-font-family: "Noto Serif SC", var(--base-font-family);
    }

    article {
        counter-reset: theorems lemmas definitions;
    }

    :lang(zh-hant) .theorem::before {
        content: '定理 'counter(theorems) '.\00a0' !important;
        counter-increment: theorems;
        font-weight: bold;
        font-family: --base-font-family;
    }

    :lang(zh-hant) .lemma::before {
        content: '引理 'counter(lemmas) '.\00a0' !important;
        counter-increment: lemmas;
        font-weight: bold;
        font-family: --base-font-family;
    }

    :lang(zh-hant) .proof::before {
        content: '證明'attr(title) ':\00a0' !important;
        font-weight: bold;
        font-family: --base-font-family;
    }

    :lang(zh-hant) .proof::after {
        content: '∎';
        float: right;
        font-family: --base-font-family;
    }

    :lang(zh-hant) .definition::before {
        content: '定義 'counter(definitions) '.\00a0' !important;
        counter-increment: definitions;
        font-weight: bold;
        font-family: --base-font-family;
    }

    /* Recommended. Applies to all SVGs. */
    .inline-icon {
        fill: var(--card-text-color-main);
    }

    .article-views span+span {
        margin-left: 5px;
    }
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    }());
</script>

{{ if .Params.mermaid }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({ startOnLoad: true, securityLevel: 'loose' });</script>
{{ end }}

{{ if .Params.icon }}
<link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{{ end }}