<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.comments.giscus.repo }}"
        data-repo-id="{{ .Site.Params.comments.giscus.repoId }}"
        data-category="{{ .Site.Params.comments.giscus.category }}"
        data-category-id="{{ .Site.Params.comments.giscus.categoryId }}"
        data-mapping="{{ .Site.Params.comments.giscus.mapping }}"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-theme="light"
        crossorigin="anonymous"
        async
        >
</script>

<script>
    function setGiscusTheme(theme) {
        let giscus = document.querySelector('.giscus-frame');
        if (!giscus) return;
        giscus.contentWindow.postMessage({
            giscus:{
                setConfig: {
                    theme: theme,
                }
            }
        }, 'https://giscus.app');
    }

    addEventListener('message', event => {
        if (event.origin !== 'https://giscus.app') return;
        setGiscusTheme(document.documentElement.dataset.scheme)
    });

    window.addEventListener('onColorSchemeChange', (e) => {
        setGiscusTheme(e.detail)
    })
</script>
